.register-container {
  padding: 5rem 60rem;
}

.register-container__header {
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 0;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register-container__title {
  font-family: Montserrat-Bold;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.register-container__title span {
  flex: 1;
  cursor: pointer;
}

.register-container__title h2 {
  flex: 9;
}

.register-container__separator {
  border: 1px solid #ccc;
  margin-top: 1rem; 
  width: 100%;
}


.register-container__form {
  background-color: #ffffff;
  padding: 4rem 10rem;
  border-radius: 0.1rem;
}

.register-form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  gap: 5rem
}

.register-container__row {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.register-container__footer {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 7rem;
}

.register-form__group {
  flex: 1;
  justify-content: end;
}

.register-form__label {
  font-family: Montserrat-SemiBold;
  display: block;
  margin-bottom: .5rem;
  font-size: 2.5rem;
}

.register-form__input {
  padding: 3rem;
  width: 100%;
  height: 3rem;
  border: 0.1rem solid #cccccc;
  border-radius: 1rem;
  font-size: 2.5rem;
  font-family: Montserrat-Regular;
  outline: none;
}

.register-form__input--error {
  border: 1px solid #ff7452;
}

.register-form__error-message {
  color: #ff7452;
}


@media only screen and (max-width: 767px) {
  .register-container {
    padding: 0rem;
  }

  .register-container__title{
    font-size: 1.5rem;
    padding: 0 .5rem;

  }

  .register-container__title span {
    font-size: 3rem;
    flex: 1;
  }

  .register-container__title h2 {
    flex: 9;
  }

  .register-container__form {
    padding: 1rem 3rem;
    border-radius: 0.1rem;
  }

  .register-form__row {
    display: block;
    margin-bottom: 0rem;
  }

  .register-container__row {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
  }

  .register-form__group{
    margin-bottom: 1rem;
  }

  .register-form__label {
    margin-bottom: 0rem;
    font-size: 1.5rem;
  }

  .register-form__input {
    padding: 1rem;
    width: 100%;
    height: 3.5rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .register-container {
    padding: 3rem;
  }

  .register-container__title{
    font-size: 2rem;
    padding: .5rem;

  }

  .register-container__title span {
    font-size: 4rem;
    flex: 1;
  }

  .register-container__title h2 {
    flex: 9;
  }

  .register-container__form {
    padding: 1rem 3rem;
  }

  .register-form__row {
    margin-bottom: 0rem;
  }

  .register-container__row {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
  }

  .register-form__group{
    margin-bottom: 1rem;
  }

  .register-form__label {
    margin-bottom: 0rem;
    font-size: 2rem;
  }
  .register-form__error-message {
    font-size: 1.5rem;

  }
  .register-form__input {
    padding: 1rem;
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .register-container {
    padding: 3rem;
  }

  .register-container__title{
    font-size: 2rem;
    padding: .5rem;

  }

  .register-container__title span {
    font-size: 4rem;
    flex: 1;
  }

  .register-container__title h2 {
    flex: 9;
  }

  .register-container__form {
    padding: 1rem 3rem;
  }

  .register-form__row {
    margin-bottom: 0rem;
  }

  .register-container__row {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
  }

  .register-form__group{
    margin-bottom: 1rem;
  }

  .register-form__label {
    margin-bottom: 0rem;
    font-size: 2rem;
  }
  .register-form__error-message {
    font-size: 1.5rem;

  }
  .register-form__input {
    padding: 1rem;
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  .register-container {
    padding: 3rem;
  }

  .register-container__title{
    font-size: 2rem;
    padding: .5rem;

  }

  .register-container__title span {
    font-size: 4rem;
    flex: 1;
  }

  .register-container__title h2 {
    flex: 9;
  }

  .register-container__form {
    padding: 1rem 3rem;
  }

  .register-form__row {
    margin-bottom: 0rem;
  }

  .register-container__row {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
  }

  .register-form__group{
    margin-bottom: 1rem;
  }

  .register-form__label {
    margin-bottom: 0rem;
    font-size: 2rem;
  }
  .register-form__error-message {
    font-size: 1.5rem;

  }
  .register-form__input {
    padding: 1rem;
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 2560px) {

}