.search-product-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: auto;
}


.search-product-container__input{
  padding: 2.5rem;
  width: 100%;
  height: 3rem;
  border: 0.1rem solid #cccccc;
  border-radius: 1rem;
  font-size: 2rem;
}

.search-product-container__button {
  background-color: #ffdd00;
  color: #0f265c;
  padding: 2rem 4.5rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 2rem;
  font-family: Montserrat-SemiBold;

}

.search-product-container__button:hover {
  background-color: #ffcd39;
}

.search-product-container__button:disabled {
  background-color: #ffe69d;
}