.search-product-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: auto;
}


.search-product-container__input{
  padding: 2.5rem;
  width: 100%;
  height: 3rem;
  border: 0.1rem solid #cccccc;
  border-radius: 1rem;
  font-size: 2rem;
  outline: none;
}

@media only screen and (max-width: 767px) {
  .search-product-container{
    display: block;
  }

  .search-product-container__find , .search-product-container__create {
    margin-top: 1rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
  
  }

  .search-product-container__input{
    padding: 2rem;
    width: 100%;
    height: 1rem;
    font-size: 1.5rem;
  }

}